# Composer
/vendor

# Docker
/.env

# PHP CS Fixer
/.php_cs.cache

# PHPUnit
/phpunit.xml
/build

# PHPStorm
/.idea
/.phpunit.result.cache

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
tests/.cache/*

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
